#################
## Android
#################

#built application files
*.apk
*.ap_

# files for the VM
*.dex

# java class files
*.class

# generated content
bin/
gen/

# local config
local.properties